<aside class="sidebar" [class.showSidebar]="isSidebarOpen">
	<div class="container-fluid">
		<ul>
			<li>
				<a href="" class="active">
					<span>ESP</span>
				</a>
				-
				<a href="">
					<span>ENG</span>
				</a>
			</li>
			<li>
				<a routerLink="/home" class="active">/ Home</a>
			</li>
			<li>
				<a routerLink="/about">/ About</a>
			</li>
			<li>
				<a routerLink="/projects">/ Projects</a>
			</li>
			<li>
				<a routerLink="/contact">/ Contact</a>
			</li>
		</ul>
		<ul class="sidebar-footer">
			<li>
                <a href="">fb</a>
            </li>
			<li>
                <a href="">tw</a>
            </li>
			<li>
                <a href="">ig</a>
            </li>
			<li>
                <a href="">yt</a>
            </li>
		</ul>
	</div>
</aside>
