<aside class="sidebar" [class.showSidebar]="isSidebarOpen">
	<div class="container-fluid">
		<ul>
			<li>
				<button class="active">
					<span>ESP</span>
				</button>
				-
				<button>
					<span>ENG</span>
				</button>
			</li>
			<li *ngFor="let route of routes">
				<a [routerLink]="route.url" routerLinkActive="active">{{ route.label }}</a>
			</li>
		</ul>
		<ul class="sidebar-footer">
			<li *ngFor="let socialMedia of socialMedias">
				<a [routerLink]="socialMedia.url" target="_blank">
					<img
						[src]="socialMedia.src"
						alt="socialMedia.label"
					/>
				</a>
			</li>
		</ul>
	</div>
</aside>
