<article class="Experience row">
    <h1>My experience</h1>
    <div class="Experience_skills col-lg-7">
        <ul>
            <li *ngFor="let skill of skills">
                <img src="{{ skill.img }}" alt="{{ skill.name }}" />
                <h6>{{ skill.name }}</h6>
            </li>
        </ul>
    </div>
    <div class="Experience_download col-lg-5">
        <a
            href="/assets/docs/Giuliana Cecchetto - ENG.pdf"
            download="Giuliana Cecchetto - ENG"
            class="Button_download"
        >
            <img src="/assets/images/icons/download.png" alt="download" />
            CV in English
        </a>
        <a
            href="/assets/docs/Giuliana Cecchetto - ESP.pdf"
            download="Giuliana Cecchetto - ESP"
            class="Button_download"
        >
            <img src="/assets/images/icons/download.png" alt="download" />
            CV in Spanish
        </a>
    </div>
</article>