@use "./setting" as setting;
@use "./mixins" as mixin;

/*
  En esta capa estarán:
    1. piezas de ui ya diseñadas
    2. colores, tipografías, branding de la marca o empresa
    3. exclusivamente se usaran selectores de clases
*/

.Button {
  //DOWNLOAD BUTTON
  &_download {
    background-color: transparent;
    width: 15rem;
    font-weight: 600;
    color: setting.$dark;
    padding: 1rem 2rem;
    border: 1px solid setting.$secondary;
    border-radius: 4px;
    text-decoration: none;
    img {
      width: 2rem;
      margin-right: 1rem;
    }
    &:hover {
      cursor: pointer;
      color: setting.$dark;
    }
  }
  //LINK BUTTON
  &_links {
    font-size: 1rem;
    font-weight: 600;
    color: setting.$dark;
    text-decoration: none;
    padding: 1rem 2rem;
    img {
      width: 2rem;
      margin-right: 1rem;
    }
    &:hover {
      cursor: pointer;
      color: setting.$dark;
      text-decoration: underline;
    }
    @include mixin.from(md) {
      font-size: 1.5rem;
      img {
        width: 3rem;
      }
    }
  }
}
