@use 'sass:math';

/*
  En esta capa estarán:
    1. configuraciones disponibles globalmente
    2. cambios de configuraciones
    3. colores representativos de la marca o empresa
*/

// Sizes breakpoints
$breakPoints: (
	// zero
	xs: 0,
	// mobile
	s: 320px,
	// medium
	md: 576px,
	// tablet
	l: 768px,
	// desktop
	xl: 992px,
	// extra desktop
	xxl: 1200px
);

// Fonts family
$text: "Alegreya", serif;
$heading: "Birthstone Bounce", cursive;


// Colors palette

$primary: #1C768F;
$secondary: #ED5A5A;
$accent: #FA991C;
$light: #EFEFEF;
$dark: #032539;
$white: #ffffff;
$black: #000000;
