<article class="Hero row m-0">
	<div class="Hero_paragraph col-lg-5">
		<h1>Hi there!</h1>
		<p>
			I'm a Frontend Developer who's passionate about technology and creativity. I pay attention to
			the little details and ensure the user experience is on point. I create practical solutions
			for individuals and businesses. I'm always learning, growing, and exploring new possibilities
			with cutting-edge tech and intuitive designs.
		</p>
	</div>
	<div class="Hero_image col-lg-7">
	</div>
</article>
