@use "/src/app/styles/styles.scss" as styles;


.navbar {
    background-color: styles.$dark;
    height: 5rem;
    div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: styles.$light;
            font-size: 3rem;
            font-weight: 600;
            line-height: 3rem;
            text-decoration: none;
            letter-spacing: 2px;
            margin: 0;
        }
    }
}