<article class="Contact row">
    <h1>Find me in...</h1>
    <div class="Contact_links col-md-5">
        <div>
            <a class="Button_links" target="_blank" href="https://github.com/giuli3022">
                <img src="/assets/images/icons/git.png" alt="icon" />
                GitHub
            </a>
            <a class="Button_links" target="_blank" href="https://www.linkedin.com/in/giuliana-cecchetto/">
                <img src="/assets/images/icons/linkedin.png" alt="icon" />
                Linkedin
            </a>
            <a class="Button_links" target="_blank" href="mailto:giulicecchetto@gmail.com">
                <img src="/assets/images/icons/email.png" alt="icon" />
                Email
            </a>
        </div>
    </div>
    <div class="Contact_image col-md-7">
        <img src="/assets/images/detective.png" alt="detective" />
    </div>
</article>